body{
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainContainer{
	width: 350px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 3px 3px 7px;
	border: 2px solid #000;
	background-color: #808080;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display{
	width: 280px;
	height: 80px;
	top: 80px;
	font-size: 2em;
	border-radius: 10px;
	border: 2px solid #000;
	background-color: #357C3C;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
}

.btnContainer{
	top: 100px;
	height: fit-content;
	position: relative;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.split-1{
	width: 210px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.split-2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.calcBtn{
	width: 70px;
	height: 80px;
	font-size: 1.5em;
	cursor: pointer;
}

#eqBtn{
	background-color: #488FB1;
}